header{
    background-color: #92C7D0;
    text-align: center;
    padding: 15px 0;
  
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
  	color: white;

}
nav li{
    size: 20px;
}
nav li:hover{
    color: bisque;
}
nav a {
    color: black;
    text-decoration: none; 
}
.MakeDonation{
    background-color: burlywood;
    border-radius: 50;
    border-color: burlywood
}
